{{template "imgboard_begin.gohtml" .}}
<div class="reply" style="padding: 5px;text-align: center;">Error: {{.Info}}</div><br>
{{.Message}}
<div style="text-align: center;">- <a href="javascript:history.go(-1)">Click here to go back</a> -</div>
{{template "imgboard_end.gohtml" .}}
