{{template "imgboard_begin.gohtml" .}}
<div class="reply" style="padding: 5px;text-align: center;">{{T "Error: %s" .Info}}</div><br>
{{.Message}}
<div style="text-align: center;">- <a href="javascript:history.go(-1)">{{T "Click here to go back"}}</a> -</div><br>
{{template "imgboard_end.gohtml" .}}
