        <br>
        <div class="footer">{{/* Please do not change or remove this footer link. */}}
            - <a href="https://codeberg.org/tslocum/sriracha" target="_blank">Sriracha</a> -
        </div>
    </body>
</html>
