{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">Keywords</h2>
{{if ne .Manage.Keyword nil}}
    [<a href="/sriracha/keyword/">Return</a>]<br>
{{end}}
<form method="post">
    <fieldset>
    <legend>Test {{.Manage.Keyword.Text}}</legend>
    <table border="0">
        <tr>
            <td class="postblock"><label for="keyword">Keyword</label></td>
            <td><input type="text" name="keyword" value="{{.Manage.Keyword.Text}}" disabled></td>
            <td>Regular expression to search for when a new post is created.</td>
        </tr>
        <tr>
            <td class="postblock"><label for="message">Message</label></td>
            <td><textarea name="message" rows="4" oninput="document.getElementById('keywordresult').innerHTML = '';" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;">{{.Extra}}</textarea></td>
            <td>Text to test for a keyword match.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td align="right"><input type="submit" class="managebutton" style="width: 50%;" value="Test"></td>
            <td id="keywordresult" style="vertical-align: middle;">{{.Message}}</td>
        </tr>
    </table>
    </fieldset>
</form>
{{template "manage_end.gohtml" .}}
