{{define "manage_end"}}
        <br><hr>
        <div class="footer">
            - <a href="https://codeberg.org/tslocum/sriracha" target="_blank">Sriracha</a> -
        </div>
    </body>
</html>
{{end}}
