{{template "manage_begin.gohtml" .}}
{{if ne .Message ""}}
    {{.Message}}
{{ else }}
    <br><div style="text-align: center;">- <a href="javascript:history.go(-1)">{{T "Click here to go back"}}</a> -</div><br>
{{end}}
{{template "manage_end.gohtml" .}}
