<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<meta http-equiv="cache-control" content="max-age=0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
		<meta http-equiv="pragma" content="no-cache">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{{.Opt.SiteName}} - {{T "Manage mode" | Title}}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/global.css">
		<link rel="{{if and (ne .Account nil) (ne .Account.Style "")}}alternate {{end}}stylesheet" type="text/css" href="/static/css/futaba.css" title="Futaba" id="mainStylesheet">
		<link rel="{{if or (eq .Account nil) (ne .Account.Style "burichan")}}alternate {{end}}stylesheet" type="text/css" href="/static/css/burichan.css" title="Burichan">
		<link rel="{{if or (eq .Account nil) (ne .Account.Style "sriracha")}}alternate {{end}}stylesheet" type="text/css" href="/static/css/sriracha.css" title="Sriracha">
		<script src="/static/js/manage.js"></script>
	</head>
    <body>
		{{if ne .Account nil}}
			{{if eq .Account.Role 1}}{{/* Super-admin */}}
				[<a href="/sriracha/account/" style="text-decoration: underline;">{{T "Accounts"}}</a>]
			{{end}}
			[<a href="/sriracha/ban/" style="text-decoration: underline;">{{T "Bans"}}</a>]
			[<a href="/sriracha/board/" style="text-decoration: underline;">{{T "Boards"}}</a>]
			{{if le .Account.Role 2}}{{/* Admin */}}
				[<a href="/sriracha/keyword/" style="text-decoration: underline;">{{T "Keywords"}}</a>]
			{{end}}
			[<a href="/sriracha/log/" style="text-decoration: underline;">{{T "Logs"}}</a>]
			{{if ne .Opt.News 0}}
				[<a href="/sriracha/news/" style="text-decoration: underline;">{{T "News"}}</a>]
			{{end}}
			{{if le .Account.Role 2}}{{/* Admin */}}
				{{if ne (len .Manage.Plugins) 0}}
					[<a href="/sriracha/plugin/" style="text-decoration: underline;">{{T "Plugins"}}</a>]
				{{end}}
				[<a href="/sriracha/setting/" style="text-decoration: underline;">{{T "Settings"}}</a>]
			{{end}}
			[<a href="/sriracha/" style="text-decoration: underline;">{{T "Status"}}</a>]
		{{end}}
		<div class="adminbar">
			{{if ne .Account nil}}
				[<a href="/sriracha/preference/" style="text-decoration: underline;">{{T "Preferences"}}</a>]
				[<a href="/sriracha/logout/" style="text-decoration: underline;">{{T "Log Out"}}</a>] &middot;
			{{end}}
			[<a href="{{.Opt.SiteHome}}" style="text-decoration: underline;">{{T "Return"}}</a>]
		</div>
		<div class="logo">{{.Opt.SiteName}}</div>
		<hr width="90%">
		<div class="replymode">{{T "Manage mode"}}</div>
		{{if and (ne .Info "") (ne .Template "manage_error")}}
			<div class="manageinfo">{{.Info}}</div>
		{{end}}
