<table {{if eq .ReplyMode 0}} class="managetable forumindex"{{end}}>
	<tbody{{if ne .ReplyMode 0}} class="thread"{{end}}>
		{{if eq .ReplyMode 0}}
			{{range $i, $thread := .Threads}}
				{{range $i, $post := $thread}}
					<tr>
						<td>{{.BumpLabel}}</td>
						<td>{{.Replies | PlusOne}}</td>
						<td><span class="filetitle"><a href="{{if $.ModMode}}/sriracha/board/mod/{{$post.Board.ID}}/{{.ID}}{{else}}{{$post.Board.Path}}res/{{.ID}}.html{{end}}">{{if ne .Subject ""}}{{.Subject}}{{else}}{{T "No subject"}}{{end}}</a></span></td>
					</tr>
				{{end}}
			{{end}}
		{{else}}
			{{range $i, $thread := .Threads}}
				{{range $i, $post := $thread}}
					<tr{{if eq $i 0}} style="flex-basis: 100%;"{{end}}>
						<td id="{{.ID}}" class="op post forumpost"{{if ne $i 0}} style="padding-top: 10px;"{{end}}>
							<div id="post{{.ID}}">
								{{template "imgboard_post_label.gohtml" (Slice $ $thread $post)}}
								{{if and (and (eq $post.Parent 0) $post.Board.Gallery) (HasExpandableMedia $thread)}}<span class="threadui">&nbsp;[<a href="#" onclick="javascript:openGallery();">{{T "Gallery"}}</a>]</span>{{end}}
								<br>
								{{template "imgboard_post_attachment.gohtml" .}}
								<div class="message">
									{{.Message | HTML}}
								</div>
								<p style="display: none;"></p>
							</div>
						</td>
					</tr>
				{{end}}
			{{end}}
		{{end}}
	</tbody>
</table>
