{{if ne .File ""}}
    {{$embed := .EmbedInfo}}
    <label class="attachmentinfo">
        <span class="filesize">{{if not .IsEmbed}}{{T "File"}}{{else}}{{T "Embed"}}{{end}}: <a href="{{if .IsOekaki}}/static/oekaki.html#{{.Board.Path}}src/{{.File}}{{else if .IsSWF}}/static/swf.html#{{.Board.Path}}src/{{.File}}{{else if not .IsEmbed}}{{.Board.Path}}src/{{.File}}{{else}}{{.FileOriginal}}{{end}}" target="_blank" onclick="return expandFile(event, '{{.ID}}');">{{if not .IsEmbed}}{{.File}}{{else}}{{index $embed 2}}{{end}}</a>&ndash;{{if not .IsEmbed}}({{.FileSizeLabel}}{{if and (ne .FileWidth 0) (ne .FileHeight 0)}}, {{.FileWidth}}x{{.FileHeight}}{{end}}{{if ne .FileOriginal ""}}, {{.FileOriginal}}{{end}}){{else}}{{index $embed 1}}{{end}}</span><br>
    </label>
    <div id="thumbfile{{.ID}}">
        {{if ne .Thumb ""}}
            <a href="{{if .IsOekaki}}/static/oekaki.html#{{.Board.Path}}src/{{.File}}{{else if .IsSWF}}/static/swf.html#{{.Board.Path}}src/{{.File}}{{else if not .IsEmbed}}{{.Board.Path}}src/{{.File}}{{else}}{{.FileOriginal}}{{end}}" target="_blank" onclick="return expandFile(event, '{{.ID}}');"><img src="{{.Board.Path}}thumb/{{.Thumb}}" alt="{{.ID}}" class="thumb" id="thumbnail{{.ID}}" width="{{.ThumbWidth}}" height="{{.ThumbHeight}}"></a>
        {{end}}
    </div>
    <div id="file{{.ID}}" class="thumb" style="display: none;" data-expand="{{.ExpandHTML}}"></div>
{{end}}
