{{template "imgboard_begin.gohtml" .}}
<hr style="width: 90%;">
<div class="errormessage">{{T "Error: %s" .Info}}</div><br>
{{.Message}}
<div style="text-align: center;">[<a href="javascript:history.go(-1)">{{T "Go Back"}}</a>]</div><br>
{{template "imgboard_end.gohtml" .}}
