{{range $i, $thread := .Threads}}
	{{if gt $i 0}}
        <hr>
    {{end}}
    <div class="thread">
    {{range $i, $post := $thread}}
        {{if eq .Parent 0}}
            <div id="{{.ID}}" class="op post">
                <div id="post{{.ID}}">
                    {{template "imgboard_post_attachment.gohtml" (Slice $ $post)}}
                    {{template "imgboard_post_label.gohtml" (Slice $ $thread $post)}}
                    {{if and (not $.Preview) (and (ne $.Template "manage_mod") (and (ne $.Template "forum_post") (ne $.Template "imgboard_post")))}}<span class="threadui">{{if not $.ReplyMode}}{{if not $.ModMode}}&nbsp;[<a href="{{$post.Board.Path}}res/{{.Thread}}.html">{{T "Reply"}}</a>]{{else}}&nbsp;[<a href="/sriracha/board/mod/{{$post.Board.ID}}/{{.Thread}}">{{T "Reply"}}</a>]{{end}}{{else if and $post.Board.Gallery (HasExpandableMedia $thread)}}&nbsp;[<a href="#" onclick="javascript:openGallery();">{{T "Gallery"}}</a>]{{end}}</span>{{end}}
                    <div class="message">
                        {{if and (eq $.ReplyMode 0) (not $.ManageMode)}}
                            {{.MessageTruncated 0 $.Account}}
                        {{else}}
                            {{.Message | HTML}}
                        {{end}}
                    </div>
                    <p style="display: none;"></p>
                </div>
                {{$omitted := Omitted .Board.Replies .Replies}}
                {{if and (eq $.ReplyMode 0) (gt $omitted 0)}}
                    <div class="omittedposts">{{TN "%d post omitted. Click Reply to view." "%d posts omitted. Click Reply to view." $omitted}}</div>
                    <p style="display: none;"></p>
                {{end}}
            </div>
        {{else}}
            <table>
                <tbody>
                    <tr>
                        <td class="doubledash"></td>
                        <td class="reply post" id="{{.ID}}">
                            <div id="post{{.ID}}">
                                {{template "imgboard_post_label.gohtml" (Slice $ $thread $post)}}
                                <br>
                                {{template "imgboard_post_attachment.gohtml" (Slice $ $post)}}
                                <div class="message">
                                    {{if and (eq $.ReplyMode 0) (not $.ManageMode)}}
                                        {{.MessageTruncated 0 $.Account}}
                                    {{else}}
                                        {{.Message | HTML}}
                                    {{end}}
                                </div>
                                <p style="display: none;"></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        {{end}}
    {{end}}
    </div>
{{end}}
