<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{{if ne .Board nil}}{{.Board.Name}}{{else}}{{.Opt.SiteName}}{{end}}</title>
		{{if ne .Opt.IconWidth 0}}
			<link rel="icon" href="/banner/icon.png" type="image/png">
		{{else}}
			<link rel="icon" href="data:,">
		{{end}}
		<link rel="stylesheet" type="text/css" href="/static/css/global.css">
		{{$defaultStyle := index (index .Opt.Styles 0) 0}}{{if ne .Style ""}}{{$defaultStyle = .Style}}{{end}}
		{{range $style := .Opt.Styles}}
			<link rel="{{if ne (index $style 0) $defaultStyle}}alternate {{end}}stylesheet" type="text/css" href="/static/css/{{index $style 0}}.css" title="{{index $style 1}}"{{if eq (index $style 0) $defaultStyle}} id="mainStylesheet"{{end}}>
		{{end}}
		{{.FlexStyle}}
		{{if and (ne .Opt.Refresh 0) (not .ArchiveMode) (not .ModMode)}}
			<script type="text/javascript">
			var autoRefreshDelay = {{.Opt.Refresh}};
			</script>
		{{end}}
		<script src="/static/js/sriracha.js"></script>
		<script type="text/javascript">
		loadStyle();
		</script>
		{{if and (ne .ReplyMode 0) (and (ne .Board nil) .Board.Gallery)}}
			<script src="/static/js/fslightbox/fslightbox.js"></script>
		{{end}}
		{{if and (eq .Template "index") (ne .Opt.SiteDescription "")}}
			<meta name="description" content="{{.Opt.SiteDescription}}">
		{{else if and (ne .Board nil) (ne .Board.Description "")}}
			<meta name="description" content="{{.Board.Description}}">
		{{end}}
    </head>
    <body>
		<span class="navbar">
			{{template "extra_navbar.gohtml" .}}
			{{if or (and (gt (len .IndexBoards) 1) (or .Opt.BoardIndex .ModMode)) (eq .Template "news")}}
				{{if ne .Opt.Overboard ""}}
					[<a href="/{{if ne .Opt.Overboard "/"}}{{.Opt.Overboard}}/{{end}}" style="text-decoration: underline;">{{T "Overboard"}}</a>]
				{{end}}
				{{range $i, $category := .Opt.Categories}}
					{{if eq (len $category.Boards) 0}}
						{{continue}}
					{{end}}
					{{if or (ne $i 0) (ne $.Opt.Overboard "")}}
						&middot;
					{{end}}
					{{range $i, $board := .Boards}}
						{{if not $.ModMode}}
							[<a href="{{.Path}}" title="{{.Name}}" style="text-decoration: underline;">{{if ne .Dir ""}}{{.Dir}}{{else}}{{if eq .Type 0}}{{T "Imageboard"}}{{else}}{{T "Forum"}}{{end}}{{end}}</a>]
						{{else}}
							[<a href="/sriracha/board/mod/{{.ID}}" title="{{.Name}}" style="text-decoration: underline;">{{if ne .Dir ""}}{{.Dir}}{{else}}/{{end}}</a>]
						{{end}}
					{{end}}
				{{end}}
			{{end}}
		</span>
		<div class="adminbar">
			{{template "extra_adminbar.gohtml" .}}
			{{$showCatalog := and (ne .Board nil) (eq .Board.Type 0)}}
			{{$showArchive := and (not .ArchiveMode) (ne .Board nil) (gt .Board.ArchiveSize 0)}}
			{{if or $showCatalog $showArchive}}
				{{if $showCatalog}}
					[<a href="{{.Board.Path}}{{if .ArchiveMode}}archive-{{end}}catalog.html" style="text-decoration: underline;">{{T "Catalog"}}</a>]
				{{end}}
				{{if $showArchive}}
					[<a href="{{if not .ModMode}}{{.Board.Path}}archive.html{{else}}/sriracha/board/mod/{{.Board.ID}}{{if not .ArchiveMode}}?archive=1{{end}}{{end}}" style="text-decoration: underline;">{{T "Archive"}}</a>]
				{{end}}
				&middot;
			{{end}}
			{{if and (ne .Template "search") (or (ne .Opt.Search 0) (ne .Account nil))}}
				[<a href="/sriracha/search" style="text-decoration: underline;">{{T "Search"}}</a>]
			{{end}}
			{{if and (ne .Template "news") (gt .Opt.News 0)}}
				[<a href="/{{if eq .Opt.News 1}}news.html{{end}}" style="text-decoration: underline;">{{T "News"}}</a>]
			{{end}}
			{{if ne .Template "index"}}
				{{if and (ne .Template "news") (ne .Template "search")}}
					[<a href="/sriracha/" style="text-decoration: underline;">{{T "Manage"}}</a>]
				{{else if or (eq .Opt.SiteIndex 1) (eq .Opt.News 2)}}
					[<a href="/" style="text-decoration: underline;">{{T "Home"}}</a>]
				{{else if eq .Opt.SiteIndex 2}}
					[<a href="/nav.html" style="text-decoration: underline;">{{T "Home"}}</a>]
				{{end}}
			{{end}}
			<select id="switchStyle">
				<option value="">{{T "Style"}}</option>
				{{range $style := .Opt.Styles}}
					<option value="{{index $style 0}}">{{index $style 1}}</option>
					<option value="{{index $style 0}}/flex">└ Flex</option>
				{{end}}
			</select>
		</div>
		<span class="header">
			{{template "extra_header.gohtml" .}}
		</span>
		{{$bannerType := 0}}
		{{if ne .Board nil}}
			{{$bannerType = .Board.ID}}
		{{else if eq .Template "news"}}
			{{$bannerType = -2}}
		{{else if or (or (or (eq .Template "line") (eq .Template "page")) (eq .Template "index")) (eq .Template "guide")}}
			{{$bannerType = -3}}
		{{end}}
		{{$banner := Banner (index .Opt.Banners $bannerType)}}
		<div class="logo">{{if ne $banner nil}}<img src="/banner/{{$banner.Name}}" width="{{$banner.Width}}" height="{{$banner.Height}}" alt="Banner"><br>{{end}}{{if ne .Board nil}}{{.Board.Name}}{{if .ArchiveMode}} - {{T "Archive"}}{{end}}{{else if eq .Template "search"}}{{T "Search"}}{{else}}{{.Opt.SiteName}}{{end}}{{template "extra_logo.gohtml" .}}</div>
		{{if .ReplyMode}}
			<span class="threadui">
				{{if .Preview}}
					[<a href="javascript:history.go(-1)">{{T "Go Back"}}</a>]
				{{else if not .ModMode}}
					[<a href="{{.Board.Path}}{{if .ArchiveMode}}archive.html{{end}}">{{T "Return"}}</a>]
				{{else}}
					[<a href="/sriracha/board/mod/{{.Board.ID}}">{{T "Return"}}</a>]
				{{end}}
			</span>
		{{else if .ModMode}}
			<span class="threadui">
				[<a href="{{.Board.Path}}" style="text-decoration: underline;">{{T "Exit"}}</a>]
			</span>
		{{end}}
