{{$ := index . 0}}
{{$thread := index . 1}}
{{$post := index . 2}}
<label class="postinfo">
    <input type="checkbox" name="delete[]" value="{{$post.ID}}">
    {{if ne $post.Subject ""}}<span class="filetitle">{{$post.Subject}}</span>{{end}}
    {{$post.NameBlock | HTML}}
    {{if and $.Opt.Identifiers (and (eq $post.Board.Identifiers 0) $.ModMode)}}
        {{$post.Identifier $.Opt.Identifiers true}}
    {{end}}
    <span class="reflink">
        {{if and $post.Board.Reports (not $.ModMode)}}
            <span class="postui">
                <a href="/sriracha/?action=report&board={{$post.Board.ID}}&post={{$post.ID}}" title="{{T "Report"}}">R</a>
            </span>
        {{end}}
        <a href="{{if not $.ModMode}}{{$post.Board.Path}}res/{{$post.Thread}}.html{{else}}/sriracha/board/mod/{{$post.Board.ID}}/{{$post.Thread}}{{end}}#{{$post.ID}}">No.</a><a href="{{if not $.ModMode}}{{$post.Board.Path}}res/{{$post.Thread}}.html{{else}}/sriracha/board/mod/{{$post.Board.ID}}/{{$post.Thread}}{{end}}#q{{$post.ID}}"{{if ne $.ReplyMode 0}} onclick="javascript:quotePost('{{$post.ID}}');"{{end}}>{{$post.ID}}</a>
        {{if and (eq $post.Parent 0) (or $post.Stickied $post.Locked)}}
            {{if $post.Stickied}}<img src="/static/img/sticky.png" alt="{{T "Stickied"}}" title="{{T "Stickied"}}" width="16" height="16">{{end}}
            {{if $post.Locked}}<img src="/static/img/lock.png" alt="{{T "Locked"}}" title="{{T "Locked"}}" width="16" height="16">{{end}}
        {{end}}
        {{if $.ModMode}}
            <span class="modui">
                {{if $.Opt.Identifiers}}
                    <a href="/sriracha/mod/view/{{$post.ID}}" title="{{T "View posts by author"}}">V</a>
                {{end}}
                {{if eq $post.Parent 0}}
                    {{if May "post.move" $.Account $.Opt.Access}}
                        <a href="/sriracha/mod/move/{{$post.ID}}" title="{{T "Move"}}">M</a>
                    {{end}}
                    {{if May "post.sticky" $.Account $.Opt.Access}}
                        <a href="/sriracha/mod/{{if $post.Stickied}}un{{end}}sticky/{{$post.ID}}" title="{{if not $post.Stickied}}{{T "Sticky"}}{{else}}{{T "Unsticky"}}{{end}}" onclick="javascript:return confirm('{{if not $post.Stickied}}Sticky{{else}}Unsticky{{end}} thread?');">S</a>
                    {{end}}
                    {{if May "post.lock" $.Account $.Opt.Access}}
                        <a href="/sriracha/mod/{{if $post.Locked}}un{{end}}lock/{{$post.ID}}" title="{{if not $post.Locked}}{{T "Lock"}}{{else}}{{T "Unlock"}}{{end}}" onclick="javascript:return confirm('{{if not $post.Locked}}Lock{{else}}Unlock{{end}} thread?');">L</a>
                    {{end}}
                {{end}}
                {{if May "post.delete" $.Account $.Opt.Access}}
                    <a href="/sriracha/mod/delete/{{$post.ID}}" title="{{T "Delete"}}">D</a>
                {{end}}
                {{if May "ban.add" $.Account $.Opt.Access}}
                    <a href="/sriracha/mod/ban/{{$post.ID}}" title="{{T "Ban"}}">B</a>
                {{end}}
                {{if and (May "post.delete" $.Account $.Opt.Access) (May "ban.add" $.Account $.Opt.Access)}}
                    <a href="/sriracha/mod/{{$post.ID}}" title="{{T "Delete & ban"}}">D&amp;B</a>
                {{end}}
            </span>
        {{end}}
        {{$post.BacklinksLabel}}
    </span>
</label>
