<div class="postarea">
    <form name="postform" id="postform" action="/sriracha/" method="post" enctype="multipart/form-data">
        <input type="hidden" id="maxFileCount" name="MAX_FILE_COUNT" value="{{.Board.Files}}">
        <input type="hidden" id="maxFileSize" name="MAX_FILE_SIZE" value="{{if eq .ReplyMode 0}}{{.Board.MaxSizeThread}}{{else}}{{.Board.MaxSizeReply}}{{end}}">
        <input type="hidden" name="action" value="post">
        <input type="hidden" name="board" value="{{.Board.Dir}}">
        <input type="hidden" name="parent" value="{{.ReplyMode}}">
        <table style="padding-top: 1px;padding-left: 2px;">
            <tbody>
                {{if .ModMode}}
                    <tr>
                        <td class="postblock">
                            {{T "Capcode"}}
                        </td>
                        <td colspan="2"><select name="capcode">
                            <option value="0">{{T "None"}}</option>
                            <option value="1">{{T "Mod"}}</option>
                            {{if ne .Account.Role 3}}
                                <option value="2">{{T "Admin"}}</option>
                            {{end}}
                        </select></td>
                    </tr>
                {{end}}
                {{if gt .Board.MaxName 0}}
                    <tr>
                        <td class="postblock">
                            {{T "Name"}}
                        </td>
                        <td colspan="2">
                            <input type="text" id="name" name="name" size="39" maxlength="{{.Board.MaxName}}" accesskey="n" autocomplete="off">
                        </td>
                    </tr>
                {{end}}
                {{if gt .Board.MaxEmail 0}}
                    <tr>
                        <td class="postblock">
                            {{T "Email"}}
                        </td>
                        <td colspan="2">
                            <input type="text" id="email" name="email" size="39" maxlength="{{.Board.MaxEmail}}" accesskey="e" autocomplete="off">
                        </td>
                    </tr>
                {{end}}
                {{if and (gt .Board.MaxSubject 0) (or (eq .Board.Type 0) (eq .ReplyMode 0))}}
                    <tr>
                        <td class="postblock">
                            {{T "Subject"}}
                        </td>
                        <td colspan="2">
                            <input type="text" id="subject" name="subject" size="39" maxlength="{{.Board.MaxSubject}}" accesskey="s" autocomplete="off">
                        </td>
                    </tr>
                {{end}}
                <tr>
                    <td class="postblock">
                        {{T "Message"}}
                    </td>
                    <td colspan="2">
                        {{if .ModMode}}<label for="raw"><input type="checkbox" name="raw" id="raw" value="1"> HTML</label><br>{{end}}
                        <textarea id="message" name="message" cols="48" rows="4" maxlength="{{.Board.MaxMessage}}" accesskey="m" autocomplete="off"></textarea>
                    </td>
                </tr>
                {{if and .Opt.CAPTCHA (not .ModMode)}}
                    <tr>
                        <td class="postblock">
                            CAPTCHA
                        </td>
                        <td colspan="2">
                            <input type="text" name="captcha" id="newpostcaptcha" accesskey="c" autocomplete="off" style="vertical-align: middle;box-sizing: border-box;width: 70px;height: 40px;">
                            <a href="/sriracha/captcha?new" target="_blank" onclick="javascript:document.getElementById('captchaimage').src = '/sriracha/captcha?new=' + new Date().getTime();return false;"><img loading="lazy" src="/sriracha/captcha" alt="CAPTCHA Challenge" id="captchaimage" width="225" height="40" style="border: 0;vertical-align: middle;"></a> <span style="vertical-align: middle;"><small>{{T "Click to refresh."}}</small></span>
                        </td>
                    </tr>
                {{end}}
                {{if and (and (or (and (eq .ReplyMode 0) (ne .Board.MaxSizeThread 0)) (and (ne .ReplyMode 0) (ne .Board.MaxSizeReply 0))) (ne (len .Board.Uploads) 0)) (ne .Board.Files 0)}}
                    <tr>
                        <td class="postblock">
                            {{T "File"}}
                        </td>
                        <td colspan="2">
                            <input type="file" name="file" size="35" accesskey="f"{{if gt .Board.Files 1}} multiple{{end}}>
                            {{if .Opt.Spoiler}}<label style="float: right;"><input type="checkbox" name="spoiler" value="1"><small>{{T "Spoiler"}}</small>&nbsp;</label>{{end}}
                        </td>
                    </tr>
                {{end}}
                {{if .Board.Oekaki}}
                    <tr>
                        <td class="postblock">
                            Oekaki
                        </td>
                        <td colspan="2">
                            <button type="submit" name="oekaki" value="1" accesskey="o">{{T "New drawing..."}}</button> <small>{{T "Create a new drawing."}}</small>
                        </td>
                    </tr>
                {{end}}
                {{if ne (len .Board.Embeds) 0}}
                    <tr>
                        <td class="postblock">
                            {{T "Embed"}}
                        </td>
                        <td colspan="2">
                            <input type="text" name="embed" size="28" accesskey="x" autocomplete="off"> <small>{{T "Paste a YouTube URL."}}</small>
                        </td>
                    </tr>
                {{end}}
                <tr>
                    <td class="postblock">
                        {{T "Password"}}
                    </td>
                    <td colspan="2">
                        <input type="password" name="password" id="newpostpassword" size="28" accesskey="p" autocomplete="off"> <small>{{T "For post deletion."}}</small>
                    </td>
                </tr>
                <tr>
                    <td class="postblock">
                        {{T "Submit"}}
                    </td>
                    <td colspan="2">
                        <input type="submit" value="{{T "Submit"}}" accesskey="z">
                        &nbsp;<label for="preview" style="float: right;"><input type="checkbox" id="preview" name="preview" value="1" accesskey="a"{{if $.Preview}} checked{{end}}><small>{{T "Preview"}}</small></label>
                        {{if and .ModMode (or (May "post.sticky" .Account .Opt.Access) (May "post.lock" .Account .Opt.Access))}}
                            {{$stickied := false}}
                            {{$locked := false}}
                            {{if and (gt (len .Threads) 0) (gt (len (index .Threads 0)) 0)}}
                                {{$stickied = (index (index .Threads 0) 0).Stickied}}
                                {{$locked = (index (index .Threads 0) 0).Locked}}
                            {{end}}
                            <select name="moderate" style="margin-right: 5px;float: right;">
                                <option value="">{{T "Moderate"}}</option>
                                {{if (May "post.sticky" .Account .Opt.Access)}}
                                    {{if not $stickied}}
                                        <option value="s">{{T "Sticky"}}</option>
                                    {{else}}
                                        <option value="us">{{T "Unsticky"}}</option>
                                    {{end}}
                                {{end}}
                                {{if (May "post.lock" .Account .Opt.Access)}}
                                    {{if not $locked}}
                                        <option value="l">{{T "Lock"}}</option>
                                    {{else}}
                                        <option value="ul">{{T "Unlock"}}</option>
                                    {{end}}
                                {{end}}
                            </select>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="rules">
                        <ul>
                            <li>
                                {{T "Helpful information is available in the %s." .GuideLink | HTML}}
                                {{if gt .Board.Unique 2}}{{TN "Currently %d unique user post." "Currently %d unique user posts." .Board.Unique}}{{end}}
                            </li>
                            {{if and (or (and (eq .ReplyMode 0) (ne .Board.MaxSizeThread 0)) (and (ne .ReplyMode 0) (ne .Board.MaxSizeReply 0))) (ne (len .Board.Uploads) 0)}}
                                <li>{{T "Supported file types are %s." (.Board.UploadTypesLabel $.Opt.Uploads $.Account)}}</li>
                                <li>{{T "Maximum file size allowed is %s." (.Board.MaxSizeLabel (eq .ReplyMode 0))}}</li>
                            {{end}}
                            {{if or (ne (len .Board.Uploads) 0) (ne (len .Board.Embeds) 0)}}
                                <li>{{T "Images greater than %[1]dx%[2]d will be thumbnailed." .Board.ThumbWidth .Board.ThumbHeight}}</li>
                            {{end}}
                            {{if gt .Board.ID 0}}
                                {{range $i, $rulesText := (index .Opt.Rules .Board.ID)}}
                                    <li>{{$rulesText}}</li>
                                {{end}}
                            {{end}}
                            {{range $i, $value := .Board.Rules}}
                                <li>{{$value | HTML}}</li>
                            {{end}}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
