{{template "imgboard_begin.gohtml" .}}
<style type="text/css">
hr {
    max-width: 930px;
}
.reply {
    border: 1px solid;
    box-shadow: 2px 2px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
	padding: 0.5rem;
}
td {
    vertical-align: top;
}
.navindex tr:not(:first-child) td {
    padding-top: 1rem;
}
.boardtd {
    text-align: right;
    padding-right: 4px;
}
.msgtd {
    padding-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
<div class="news">
    {{if ne .News nil}}
        <div style="text-align: center;margin-top: 1.5rem;">
            <div class="reply" style="display: inline-block;text-align: left;margin: 0;">
                <a href="/news.html" style="text-decoration: none;color: inherit;">
                    <label style="cursor: pointer;">
                        {{if ne .News.Subject ""}}<span class="filetitle">{{.News.Subject}}</span>{{end}}
                        {{if ne .News.Name ""}}<span class="postername">{{.News.Name}}</span>{{end}}
                        {{.News.DateLabel}}
                        <span class="reflink">
                            No.{{.News.ID}}
                        </span>
                    </label>
                </a><br>
                <div class="newsmessage">
                    {{.News.Message | HTML}}
                </div>
            </div>
        </div>
    {{end}}
    <div class="reply navindex">
        <table border="0" width="100%" style="table-layout: fixed;">
        {{range $i, $board := .Boards}}
            <tr>
                <td class="boardtd">
                    <a href="{{.Path}}"><b>{{.Name}}</b></a>
                    {{if ne .Description ""}}<br>{{.Description}}{{end}}
                </td>
                <td colspan="2" class="msgtd">
                    {{$lastPosts := index $.Threads $i}}
                    {{if eq (len $lastPosts) 0}}
                        {{T "None"}}<br>&nbsp;
                    {{else}}
                        {{$last := index $lastPosts 0}}
                        {{if eq $last nil}}
                            {{T "None"}}<br>&nbsp;
                        {{else}}
                            <a href="{{$last.Board.Path}}res/{{$last.Thread}}.html#{{$last.ID}}" style="color: inherit;text-decoration: none;">
                                <label style="cursor: pointer;">
                                    {{$last.NameBlock | HTML}} No.{{$last.ID}}
                                </label>
                            </a>
                            <br>
                            {{$msg := $last.MessageTruncated 1 $.Account}}
                            {{if eq $msg ""}}
                                {{if ne $last.File ""}}
                                    {{if $last.IsEmbed}}
                                        {{T "Embed"}}
                                    {{else}}
                                        {{T "File"}}
                                    {{end}}
                                {{else}}
                                    …
                                {{end}}
                            {{else}}
                                {{$msg}}
                            {{end}}
                        {{end}}
                    {{end}}
                </td>
            </tr>
        {{end}}
        </table>
    </div>
</div>
<hr>
{{template "imgboard_end.gohtml" .}}
