{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Two-Factor Authentication"}}</h2>
{{if ne .Manage.TwoFactor.Secret ""}}
    [<a href="/sriracha/preference/2fa">{{T "Return"}}</a>]<br>
    {{if eq .Manage.TwoFactor.ID 0}}
        <fieldset>
            <legend>{{T "Add %s Device" "2FA"}}</legend>
            <div>
                {{T "Scan the following QR code using an authenticator application:"}}<br><br>
                <div style="text-align: center;">
                    {{TOTPImage .Account .Manage.TwoFactor}}<br>
                    <details style="display: inline;">
                        <summary>{{T "Show %s secret" "2FA"}}</summary>
                        <div class="reply" style="font-family: monospace;font-weight: bold;font-size: 1.5em;">{{.Manage.TwoFactor.Secret}}</div>
                    </details><br><br>
                </div>
                <form method="post">
                    <input type="hidden" name="key" value="{{.Extra3}}">
                    <table class="manageform" style="width: 100%;">
                        <tr>
                            <td class="postblock">{{T "Passcode"}}</td>
                            <td><input type="text" id="passcode" name="passcode" autocomplete="off"></td>
                            <td><input type="submit" value="{{T "Add %s Device" "2FA"}}" style="width: 100%;"></td>
                        </tr>
                    </table>
                </form>
                <script type="text/javascript">
                document.getElementById("passcode").focus();
                </script>
            </div>
        </fieldset><br>
    {{else}}
    {{end}}
{{else}}
    [<a href="/sriracha/preference/">{{T "Return"}}</a>]<br>
    <fieldset>
        <legend>{{T "%s Devices" "2FA"}}</legend>
        <table class="manageform">
            {{if gt (len .Manage.TwoFactors) 0}}
                <tr><th>{{T "Device"}}</th><th>{{T "Added"}}</th><th>{{T "Used"}}</th><th>{{T "Action"}}</th></tr>
                {{range $i, $twoFactor := .Manage.TwoFactors}}
                    <tr><td class="postblock">{{if ne $twoFactor.Name ""}}{{$twoFactor.Name}}{{else}}#{{$twoFactor.ID}}{{end}}</td><td>{{$twoFactor.TimestampLabel}}</td><td>{{$twoFactor.LastActiveLabel}}</td><td>[Rename] [Delete]</td></tr>
                {{end}}
            {{else}}
                <tr><td colspan="4">{{T "No two-factor authentication devices."}}</td></tr>
            {{end}}
            <tr><td colspan="4" align="right">
                <form method="post" action="/sriracha/preference/2fa/add">
                    <input type="hidden" name="key" value="{{.Extra3}}">
                    <input type="submit" class="managebutton" style="width: auto;min-width: 50%;" value="{{T "Add %s Device" "2FA"}}">
                </form>
            </td></tr>
        </table>
    </fieldset><br>
{{end}}
{{template "manage_end.gohtml" .}}
