{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Keywords"}}</h2>
{{if ne (len .Manage.Keywords) 0}}
    {{$mayUpdate := May "keyword.update" $.Account $.Opt.Access}}
    {{$mayDelete := May "keyword.delete" $.Account $.Opt.Access}}
    <table class="managetable">
        <tr>
            <th>{{T "Text"}}</th>
            <th>{{T "Action"}}</th>
            <th>{{T "Boards"}}</th>
            {{if or $mayUpdate $mayDelete}}
                <th>{{T "Action"}}</th>
            {{end}}
        </tr>
        {{range $i, $keyword := .Manage.Keywords}}
            <tr>
                <td>{{$keyword.Text}}</td>
                <td>{{$keyword.ActionLabel $.Account}}</td>
                <td>{{template "manage_print_board.gohtml" $keyword.Boards}}</td>
                {{if or $mayUpdate $mayDelete}}
                    <td>
                        {{if $mayUpdate}}
                            <form method="get" action="/sriracha/keyword/test/{{$keyword.ID}}"><input type="submit" value="{{T "Test"}}"></form>
                            <form method="get" action="/sriracha/keyword/{{$keyword.ID}}"><input type="submit" value="{{T "Update"}}"></form>
                        {{end}}
                        {{if $mayDelete}}
                            <form method="get" action="/sriracha/keyword/delete/{{$keyword.ID}}" onsubmit="javascript:return confirm('Delete {{$keyword.Text}}?');"><input type="submit" value="{{T "Delete"}}"></form>
                        {{end}}
                    </td>
                {{end}}
            </tr>
        {{end}}
    </table><br>
    {{if gt .Pages 1}}
        <table class="navtable">
            <tbody>
                <tr>
                    <td>
                        {{if gt .Page 0}}
                            <form method="get" action="/sriracha/keyword/{{if gt .Page 1}}p{{.Page | MinusOne}}{{end}}">
                                <input type="submit" value="{{T "Previous"}}">
                            </form>
                        {{else}}
                            {{T "Previous"}}
                        {{end}}
                    </td>
                    <td>
                        {{range $i := Iterate (.Pages | MinusOne)}}
                            [{{if eq $i $.Page}}{{$i}}{{else}}<a href="/sriracha/keyword/{{if gt $i 0}}p{{$i}}{{end}}">{{$i}}</a>{{end}}]
                        {{end}}
                    </td>
                    <td>
                        {{if lt .Page (.Pages | MinusOne)}}
                            <form method="get" action="/sriracha/keyword/p{{.Page | PlusOne}}">
                                <input type="submit" value="{{T "Next"}}">
                            </form>
                        {{else}}
                            {{T "Next"}}
                        {{end}}
                    </td>
                </tr>
            </tbody>
        </table><br><br>
    {{end}}
{{end}}
{{if ne .Manage.Keyword.ID 0}}
    [<a href="/sriracha/keyword/">{{T "Return"}}</a>]<br>
{{end}}
{{if or (and (eq .Manage.Keyword.ID 0) (May "keyword.add" $.Account $.Opt.Access)) (and (ne .Manage.Keyword.ID 0) (May "keyword.update" $.Account $.Opt.Access))}}
    {{if eq .Manage.Keyword.ID 0}}
        <br>
        <details>
            <summary>{{T "Add Keyword"}}</summary>
            <div>
    {{end}}
    <form method="post">
        <fieldset>
        {{if ne .Manage.Keyword.ID 0}}<legend>{{T "Update"}} {{.Manage.Keyword.Text}}</legend>{{end}}
        <table class="manageform">
            <tr>
                <td class="postblock"><label for="text">{{T "Text"}}</label></td>
                <td><input type="text" name="text" value="{{.Manage.Keyword.Text}}"></td>
                <td>{{T "Regular expression to search for when a new post is created."}}</td>
            </tr>
            <tr>
                <td class="postblock"><label for="action">{{T "Action"}}</label></td>
                <td><select name="action" style="width: 100%;">
                    <option value="hide"{{if eq .Manage.Keyword.Action "hide"}} selected{{end}}>{{T "Hide until approved"}}</option>
                    <option value="report"{{if eq .Manage.Keyword.Action "report"}} selected{{end}}>{{T "Report"}}</option>
                    <option value="delete"{{if eq .Manage.Keyword.Action "delete"}} selected{{end}}>{{T "Delete"}}</option>
                    <option value="ban1h"{{if eq .Manage.Keyword.Action "ban1h"}} selected{{end}}>{{T "Delete & ban for 1 hour"}}</option>
                    <option value="ban1d"{{if eq .Manage.Keyword.Action "ban1d"}} selected{{end}}>{{T "Delete & ban for 1 day"}}</option>
                    <option value="ban2d"{{if eq .Manage.Keyword.Action "ban2d"}} selected{{end}}>{{T "Delete & ban for 2 days"}}</option>
                    <option value="ban1w"{{if eq .Manage.Keyword.Action "ban1w"}} selected{{end}}>{{T "Delete & ban for 1 week"}}</option>
                    <option value="ban2w"{{if eq .Manage.Keyword.Action "ban2w"}} selected{{end}}>{{T "Delete & ban for 2 weeks"}}</option>
                    <option value="ban1m"{{if eq .Manage.Keyword.Action "ban1m"}} selected{{end}}>{{T "Delete & ban for 1 month"}}</option>
                    <option value="ban0"{{if eq .Manage.Keyword.Action "ban0"}} selected{{end}}>{{T "Delete & ban permanently"}}</option>
                </select></td>
                <td>{{T "Action taken when the keyword is detected."}}</td>
            </tr>
            <tr>
                <td class="postblock"><label for="boards">{{T "Boards"}}</label></td>
                <td>{{template "manage_input_board.gohtml" (Slice .Boards .Manage.Keyword)}}</td>
                <td>
                    {{T "Boards where the keyword applies."}}<br>
                    &nbsp;&nbsp;<a href="#" onclick="return setAllBoards(true);">{{T "Enable All"}}</a><br>
                    &nbsp;&nbsp;<a href="#" onclick="return setAllBoards(false);">{{T "Disable All"}}</a>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="right"><input type="submit" class="managebutton" style="width: auto;min-width: 50%;" value="{{if eq .Manage.Keyword.ID 0}}{{T "Add"}}{{else}}{{T "Update"}}{{end}}"></td>
                <td>&nbsp;</td>
            </tr>
        </table>
        </fieldset>
    </form>
    {{if eq .Manage.Keyword.ID 0}}
            </div>
        </details>
    {{end}}
{{end}}
<br>
{{template "manage_end.gohtml" .}}
