<div style="margin-bottom: 5px;">
    <form method="post" action="/sriracha/" style="display: inline-block;">
        <input type="hidden" name="approve" value="{{.Post.ID}}">
        <input type="submit" value="{{T "Approve"}}">
    </form>
    <form method="post" action="/sriracha/mod/delete/{{.Post.ID}}" style="display: inline-block;" onsubmit="return confirm('Delete No.{{.Post.ID}}?');">
        <input type="hidden" name="confirmation" value="1">
        <input type="submit" value="{{T "Delete"}}">
    </form>
    <form method="get" action="/sriracha/mod/ban/{{.Post.ID}}" style="display: inline-block;">
        <input type="submit" value="{{T "Ban"}}">
    </form>
    <form method="get" action="/sriracha/mod/deleteban/{{.Post.ID}}" style="display: inline-block;">
        <input type="submit" value="{{T "Delete & ban"}}"> &nbsp;
    </form>
    {{if ne .Manage.Report nil}}
        {{TN "%d report" "%d reports" .Manage.Report.Count}}
    {{end}}
</div>
{{template "imgboard_post.gohtml" $}}
