{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Accounts"}}{{Help "account-recovery"}}</h2>
{{if ne (len .Manage.Accounts) 0}}
    <table class="managetable">
        <tr>
            <th>{{T "Username"}}</th>
            <th>{{T "Role"}}</th>
            <th>{{T "Last Active"}}</th>
            <th>{{T "Action"}}</th>
        </tr>
        {{range $i, $account := .Manage.Accounts}}
            <tr>
                <td>{{$account.Username}}</td>
                <td>{{if eq $account.Role 1}}{{T "Super-administrator"}}{{else if eq $account.Role 2}}{{T "Administrator"}}{{else if eq $account.Role 3}}{{T "Moderator"}}{{else}}{{T "Disabled"}}{{end}}</td>
                <td>{{$account.LastActiveDate}}</td>
                <td><form method="get" action="/sriracha/account/{{$account.ID}}"><input type="submit" value="{{T "Update"}}"></form></td>
            </tr>
        {{end}}
    </table><br>
{{end}}
{{if eq .Manage.Account nil}}
    <br>
    <details>
        <summary>{{T "Add Account"}}</summary>
        <div>
{{else}}
    [<a href="/sriracha/account/">{{T "Return"}}</a>]<br>
{{end}}
<form method="post">
    <fieldset>
    {{if ne .Manage.Account nil}}<legend>{{T "Update %s" .Manage.Account.Username}}</legend>{{end}}
    <table class="manageform">
        <tr>
            <td class="postblock"><label for="dir">{{T "Username"}}</label></td>
            <td><input type="text" name="username" value="{{if ne .Manage.Account nil}}{{.Manage.Account.Username}}{{end}}"></td>
            <td>{{T "Used to log in and audit actions."}}</td>
        </tr>
        <tr>
            <td class="postblock"><label for="name">{{T "Password"}}</label></td>
            <td><input type="password" name="password"></td>
            <td>{{if eq .Manage.Account nil}}{{T "Required."}}{{else}}{{T "Leave blank to keep current password."}}{{end}}</td>
        </tr>
        <tr>
            <td class="postblock"><label for="role">{{T "Role"}}</label></td>
            <td><select name="role" style="width: 100%;">
                <option value="1"{{if and (ne .Manage.Account nil) (eq .Manage.Account.Role 1)}} selected{{end}}>{{T "Super-administrator"}}</option>
                <option value="2"{{if and (ne .Manage.Account nil) (eq .Manage.Account.Role 2)}} selected{{end}}>{{T "Administrator"}}</option>
                <option value="3"{{if and (ne .Manage.Account nil) (eq .Manage.Account.Role 3)}} selected{{end}}>{{T "Moderator"}}</option>
                <option value="99"{{if and (ne .Manage.Account nil) (eq .Manage.Account.Role 99)}} selected{{end}}>{{T "Disabled"}}</option>
            </select></td>
            <td>
                {{T "Super-administrators have full access."}}<br>
                {{T "Administrators have full access except for managing accounts."}}<br>
                {{T "Moderators may only perform certain actions. See moderator guide for more info."}}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td align="right"><input type="submit" class="managebutton" style="width: auto;min-width: 50%;" value="{{if eq .Manage.Account nil}}{{T "Add"}}{{else}}{{T "Update"}}{{end}}"></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    </fieldset>
</form>
{{if eq .Manage.Account nil}}
        </div>
    </details>
{{end}}
<br>
{{template "manage_end.gohtml" .}}
