<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{{.Opt.SiteName}} - {{T "Manage mode" | Title}}</title>
		{{if ne .Opt.IconWidth 0}}
			<link rel="icon" href="/banner/icon.png" type="image/png">
		{{else}}
			<link rel="icon" href="data:,">
		{{end}}
		<link rel="stylesheet" type="text/css" href="/static/css/global.css">
		{{$defaultStyle := index (index .Opt.Styles 0) 0}}{{if ne .Style ""}}{{$defaultStyle = .Style}}{{end}}
		{{range $style := .Opt.Styles}}
			<link rel="{{if ne (index $style 0) $defaultStyle}}alternate {{end}}stylesheet" type="text/css" href="/static/css/{{index $style 0}}.css" title="{{index $style 1}}"{{if eq (index $style 0) $defaultStyle}} id="mainStylesheet"{{end}}>
		{{end}}
		{{.FlexStyle}}
		<script src="/static/js/manage.js"></script>
	</head>
    <body>
		{{if ne .Account nil}}
			{{if eq .Account.Role 1}}{{/* Super-admin */}}
				[<a href="/sriracha/account/" style="text-decoration: underline;">{{T "Accounts"}}</a>]
			{{end}}
			[<a href="/sriracha/ban/" style="text-decoration: underline;">{{T "Bans"}}</a>]
			[<a href="/sriracha/board/" style="text-decoration: underline;">{{T "Boards"}}</a>]
			[<a href="/sriracha/keyword/" style="text-decoration: underline;">{{T "Keywords"}}</a>]
			[<a href="/sriracha/log/" style="text-decoration: underline;">{{T "Logs"}}</a>]
			{{if ne .Opt.News 0}}
				[<a href="/sriracha/news/" style="text-decoration: underline;">{{T "News"}}</a>]
			{{end}}
			[<a href="/sriracha/page/" style="text-decoration: underline;">{{T "Pages"}}</a>]
			{{if le .Account.Role 2}}{{/* Admin */}}
				{{if ne (len .Manage.Plugins) 0}}
					[<a href="/sriracha/plugin/" style="text-decoration: underline;">{{T "Plugins"}}</a>]
				{{end}}
				[<a href="/sriracha/setting/" style="text-decoration: underline;">{{T "Settings"}}</a>]
			{{end}}
			[<a href="/sriracha/" style="text-decoration: underline;">{{T "Status"}}</a>]
		{{end}}
		<div class="adminbar">
			{{if ne .Account nil}}
				[<a href="/sriracha/preference/" style="text-decoration: underline;">{{T "Preferences"}}</a>]
				[<a href="/sriracha/logout/" style="text-decoration: underline;">{{T "Log Out"}}</a>] &middot;
			{{end}}
			[<a href="{{.Opt.SiteHome}}" style="text-decoration: underline;">{{T "Return"}}</a>]
		</div>
		<div class="logo">{{.Opt.SiteName}}</div>
		<div class="replymode"{{if eq .Template "manage_login"}} style="text-align: center;"{{end}}>{{T "Manage mode"}}</div>
		{{if and (ne .Account nil) (or (gt (len .Opt.EmptyDisks) 0) (gt (len .Opt.LowDisks) 0))}}
			<div class="errormessage" style="text-align: left;">
				{{range $info := .Opt.EmptyDisks}}
					{{T "Warning: The hard drive containing the directory %[1]s is full: only %[2]s of free space remains. Posting is disabled." (index $info 0) (index $info 1)}}
				{{end}}
				{{range $info := .Opt.LowDisks}}
					{{T "Warning: The hard drive containing the directory %[1]s is nearly full: only %[2]s of free space remains." (index $info 0) (index $info 1)}}
				{{end}}
			</div>
		{{end}}
		{{if and (ne .Info "") (ne .Template "manage_error")}}
			<div class="manageinfo">{{.Info}}</div>
		{{end}}
