{{template "manage_begin.gohtml" .}}
{{if ne .Message ""}}
    {{.Message}}
{{ else }}
    <br><div>[<a href="javascript:history.go(-1)">{{T "Go Back"}}</a>]</div><br>
{{end}}
{{template "manage_end.gohtml" .}}
