{{if eq (len .Boards) 0}}
    {{T "None"}}
{{else}}
    {{range $i, $board := .Boards}}
        {{if ne $i 0}}
            <br>
        {{end}}
        <label><input type="checkbox" name="boards" value="{{$board.ID}}"{{if and (ne $.Manage.Keyword nil) ($.Manage.Keyword.HasBoard $board.ID)}} checked{{end}}> {{$board.Path}} {{$board.Name}}</label>
    {{end}}
{{end}}