{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Preferences"}}</h2>
<div style="display: flex;flex-wrap: wrap;row-gap: 15px;column-gap: 15px;">
    <fieldset>
        <legend>{{T "Security"}}</legend>
        <table class="manageform">
            <form method="post" action="/sriracha/preference/2fa">
                <input type="hidden" name="action" value="twofactor">
                <tr><th colspan="2">{{T "Manage %s Devices" "2FA"}}</th></tr>
                <tr><td class="postblock">{{T "Password"}}</td><td><input type="password" name="password" autocomplete="off"></td></tr>
                <tr><td>&nbsp;</td><td align="right"><input type="submit" class="managebutton" style="width: auto;min-width: 50%;" value="{{T "Manage %s" "2FA"}}"></td></tr>
            </form>
            <form method="post">
                <input type="hidden" name="action" value="password">
                <tr><th colspan="2"><br>{{T "Change Password"}}</th></tr>
                <tr><td class="postblock">{{T "Current"}}</td><td><input type="password" name="old" autocomplete="off"></td></tr>
                <tr><td class="postblock">{{T "New"}}</td><td><input type="password" name="new" autocomplete="off"></td></tr>
                <tr><td class="postblock">{{T "New (confirm)"}}</td><td><input type="password" name="confirmation" autocomplete="off"></td></tr>
                <tr><td>&nbsp;</td><td align="right"><input type="submit" class="managebutton" style="width: auto;min-width: 50%;" value="{{T "Change Password"}}"></td></tr>
            </form>
        </table>
    </fieldset>
    <fieldset>
        <legend>{{T "Appearance"}}</legend>
        <table class="manageform">
            <form method="post">
                <input type="hidden" name="action" value="style">
                <tr><th colspan="2">{{T "Change Style"}}</th></tr>
                <tr>
                    <td class="postblock">{{T "Style"}}</td>
                    <td>
                        <select name="style">
                            {{range $style := .Opt.Styles}}
                                <option value="{{index $style 0}}"{{if eq $.Account.Style (index $style 0)}} selected{{end}}>{{index $style 1}}</option>
                                <option value="{{index $style 0}}/flex"{{if eq $.Account.Style (Cat (index $style 0) "/flex")}} selected{{end}}>{{index $style 1}} Flex</option>
                            {{end}}
                        </select>
                    </td>
                </tr>
                <tr><td>&nbsp;</td><td align="right"><input type="submit" class="managebutton" style="width: auto;min-width: 50%;" value="{{T "Change Style"}}"></td></tr>
            </form>
            <form method="post">
                <input type="hidden" name="action" value="locale">
                <tr><th colspan="2"><br>{{T "Change Locale"}}</th></tr>
                <tr>
                    <td class="postblock">{{T "Locale"}}</td>
                    <td>
                        <select name="locale">
                            <option value=""{{if eq .Account.Locale ""}} selected{{end}}>{{T "Default"}} - {{.Opt.DefaultLocaleName}}</option>
                            {{range $i, $localeID := .Opt.LocalesSorted}}
                                <option value="{{$localeID}}"{{if eq $.Account.Locale $localeID}} selected{{end}}>{{index $.Opt.Locales $localeID}}</option>
                            {{end}}
                        </select>
                    </td>
                </tr>
                <tr><td>&nbsp;</td><td align="right"><input type="submit" class="managebutton" style="width: auto;min-width: 50%;" value="{{T "Change Locale"}}"></td></tr>
                {{if or (and (ne .Account.Locale "") (ne .Account.Locale "en")) (and (ne .Opt.Locale "en") (eq .Account.Locale ""))}}
                    <tr>
                        <td colspan="2" align="right">
                            <br><a href="https://translate.codeberg.org/projects/sriracha/sriracha/" target="_blank">{{T "Help translate Sriracha"}}</a>
                        </td>
                    </tr>
                {{end}}
            </form>
        </table>
	</fieldset>
    <fieldset style="align-self: flex-start;">
        <legend>{{T "Documentation"}}</legend>
        <div>
            <ul style="margin: 0;">
                <li><a href="https://codeberg.org/tslocum/sriracha/src/branch/main/MANUAL.md" target="_blank">Sriracha Manual</a></li>
                <ul>
                    <li><a href="https://codeberg.org/tslocum/sriracha/src/branch/main/MANUAL.md#moderator-guide" target="_blank">Moderator Guide</a></li>
                    <li><a href="https://codeberg.org/tslocum/sriracha/src/branch/main/MANUAL.md#administrator-guide" target="_blank">Administrator Guide</a></li>
                    <li><a href="https://codeberg.org/tslocum/sriracha/src/branch/main/MANUAL.md#super-administrator-guide" target="_blank">Super-administrator Guide</a></li>
                </ul>
            </ul>
        </div>
    </fieldset>
</div>
{{template "manage_end.gohtml" .}}
