{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Bans"}}</h2>
{{if ne (len .Manage.Bans) 0}}
    {{$mayUpdate := or (May "ban.shorten" $.Account $.Opt.Access) (May "ban.lengthen" $.Account $.Opt.Access)}}
    {{$mayDelete := May "ban.delete" $.Account $.Opt.Access}}
    <table class="managetable">
        <tr>
            <th>{{T "ID"}}</th>
            <th>{{T "Type"}}</th>
            <th>{{T "Expires"}}</th>
            <th>{{T "Reason"}}</th>
            {{if or $mayUpdate $mayDelete}}
                <th>&nbsp;</th>
            {{end}}
        </tr>
        {{range $i, $ban := .Manage.Bans}}
            <tr>
                <td>{{$ban.ID}}</td>
                <td>{{$ban.TypeLabel}}</td>
                <td>{{$ban.ExpireDate}}</td>
                <td>{{if eq $ban.Reason ""}}{{T "No reason provided."}}{{else}}{{$ban.Reason}}{{end}}</td>
                {{if or $mayUpdate $mayDelete}}
                    <td>
                        {{if $mayUpdate}}
                            <form method="get" action="/sriracha/ban/{{$ban.ID}}"><input type="submit" value="{{T "Update"}}"></form>
                        {{end}}
                        {{if $mayDelete}}
                            <form method="get" action="/sriracha/ban/delete/{{$ban.ID}}" onsubmit="javascript:return liftBan('{{$ban.ID}}')">
                                <input type="hidden" name="reason" id="reason{{$ban.ID}}">
                                <input type="submit" value="{{T "Lift"}}">
                            </form>
                        {{end}}
                    </td>
                {{end}}
            </tr>
        {{end}}
    </table><br>
{{end}}
{{if ne .Manage.Ban nil}}
    [<a href="/sriracha/ban/">{{T "Return"}}</a>]<br>
{{end}}
{{template "manage_ban_form.gohtml" .}}
{{template "manage_end.gohtml" .}}
