{{template "manage_begin.gohtml" .}}
{{$count := len (index .Threads 0)}}
{{$single := eq $count 1}}
{{$first := (index (index .Threads 0) 0)}}
<h2 class="managetitle">
    {{if eq .Extra "d"}}
        {{if $single}}{{T "Delete"}} {{$first.RefLink}}{{else}}{{TN "Delete %d post" "Delete %d posts" $count $count}}{{end}}
    {{else if eq .Extra "b"}}
        {{if $single}}{{T "Ban"}} {{$first.RefLink}}{{else}}{{TN "Ban %d post" "Ban %d posts" $count $count}}{{end}}
    {{else if eq .Extra "db"}}
        {{if $single}}{{T "Delete & ban"}} {{$first.RefLink}}{{else}}{{TN "Delete & ban %d post" "Delete & ban %d posts" $count $count}}{{end}}
    {{else}}
        {{if $single}}{{T "Moderate"}} {{$first.RefLink}}{{else}}{{TN "Moderate %d post" "Moderate %d posts" $count $count}}{{end}}
    {{end}}
</h2>
{{if eq .Extra ""}}
    {{if ne .Message ""}}
        {{.Message}}<br><br>
    {{end}}
    <form method="post" action="/sriracha/mod/delete/{{.Extra3}}">
        <input type="hidden" name="confirmation" value="1">
        <input type="submit" value="{{T "Delete"}}" onclick="javascript:return confirm('{{TN "Delete %d post" "Delete %d posts" $count $count}}?');"></input>
    </form>
    <form method="post" action="/sriracha/mod/ban/{{.Extra3}}">
        <input type="hidden" name="confirmation" value="1">
        <input type="submit" value="{{T "Ban"}}"></input>
    </form>
    <form method="post" action="/sriracha/mod/{{.Extra3}}">
        <input type="hidden" name="confirmation" value="1">
        <input type="submit" value="{{T "Delete & ban"}}"></input>
    </form><br>
{{else}}
    {{if or (eq .Extra "b") (eq .Extra "db") }}
    {{template "manage_ban_form.gohtml" .}}
    {{else}}
        <form method="post" action="/sriracha/mod/delete/{{.Extra3}}">
            <input type="hidden" name="confirmation" value="1">
            <input type="submit" value="{{TN "Delete %d post" "Delete %d posts" $count $count}}"></input>
        </form><br>
    {{end}}
{{end}}
<hr>
<br>
{{if and (gt (len .Threads) 0) (eq (index (index .Threads 0) 0).Board.Type 0)}}
    {{template "imgboard_post.gohtml" $}}
{{else}}
    {{template "forum_post.gohtml" $}}
{{end}}
{{template "manage_end.gohtml" .}}
