{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Status"}}{{Help "approving-posts"}}</h2>
<style type="text/css">
.postui, .threadui {
    display: none;
}
</style>
{{if ne .Message ""}}
    <fieldset>
        <legend>{{T "Reports"}}</legend>
        <div>{{.Message}}</div>
    </fieldset><br>
{{end}}
{{if ne .Message2 ""}}
    <fieldset>
        <legend>{{T "New Posts"}}</legend>
        <div>{{.Message2}}</div>
    </fieldset><br>
{{end}}
{{if ne .Message3 ""}}
    <fieldset>
        <legend>{{T "Pruned Threads"}}</legend>
        <div>{{.Message3}}</div>
    </fieldset><br>
{{end}}
{{if and (eq .Message "") (eq .Message2 "") (eq .Message3 "")}}
    &nbsp;✔️ {{T "No pending moderation requests."}}<br>
    <meta http-equiv="refresh" content="300; url=/sriracha/">
{{else}}
    <script type="text/javascript">
    var title = document.title;
    if (!title) {
        title = "Sriracha";
    }
    document.title = "/!\\ " + title;
    window.addEventListener('DOMContentLoaded', function(e) {
         // Wait before checking focus to prevent false positives.
        setTimeout(function() {
            if (!document.hasFocus() && "Notification" in window && Notification.permission === "granted") {
                const options = {
                    body: window.location.hostname,
                    renotify: true,
                    requireInteraction: false,
                };
                var n = new Notification("{{.Extra3}}", options);
                window.addEventListener('focus', function(e) {
                    n.close();
                });
                window.addEventListener('unload', function(e) {
                    n.close();
                });
            }
        }, 500);
    });
    </script>
{{end}}
{{template "manage_end.gohtml" .}}
