{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Status"}}</h2>
<style type="text/css">
.postui, .threadui {
    display: none;
}
</style>
{{if ne .Message ""}}
    <fieldset>
        <legend>{{T "Reports"}}</legend>
        <div>{{.Message}}</div>
    </fieldset><br>
{{end}}
{{if ne .Message2 ""}}
    <fieldset>
        <legend>{{T "New Posts"}}</legend>
        <div>{{.Message2}}</div>
    </fieldset><br>
{{end}}
{{if and (eq .Message "") (eq .Message2 "")}}
    &nbsp;✔️ {{T "No pending moderation requests."}}<br>
    <meta http-equiv="refresh" content="300; url=/sriracha/">
{{else}}
    <script type="text/javascript">
    var title = document.title;
    if (!title) {
        title = "Sriracha";
    }
    document.title = "/!\\ " + title;
    </script>
{{end}}
{{template "manage_end.gohtml" .}}
