{{$boards := index . 0}}
{{$data := index . 1}}
{{if eq (len $boards) 0}}
    {{T "None"}}
{{else}}
    {{range $i, $board := $boards}}
        {{if ne $i 0}}
            <br>
        {{end}}
        <label><input type="checkbox" name="boards" value="{{$board.ID}}"{{if and (ne $data nil) ($data.HasBoard $board.ID)}} checked{{end}}> {{$board.Path}} {{$board.Name}}</label>
    {{end}}
{{end}}
