{{template "manage_begin.gohtml" .}}
<form method="post" action="/sriracha/">
    <input type="hidden" name="action" value="manage">
    <div class="login">
        <br>
        <fieldset style="display: inline;">
            <legend align="center">{{T "Log In"}}</legend>
            <div>
                <input type="text" id="manage_username" name="username" placeholder="{{T "Username"}}"><br>
                <input type="password" name="password" placeholder="{{T "Password"}}" style="margin-top: 7px;"><br>
                {{if not .Opt.DevMode}}
                    <input type="text" name="captcha" placeholder="CAPTCHA" autocomplete="off" style="margin-top: 7px;"><br>
                    <a href="#" onclick="javascript:document.getElementById('captchaimage').src = '/sriracha/captcha/captcha.png?new=' + new Date().getTime();"><img src="/sriracha/captcha/captcha.png" alt="CAPTCHA Challenge" title="{{T "Click to refresh."}}" id="captchaimage" width="225" height="40" border="0" style="margin-top: 7px;vertical-align: middle;"></a><br>
                {{end}}
                <input type="submit" value="{{T "Log In"}}" class="managebutton" style="margin-top: 7px;">
                <script type="text/javascript">
                document.getElementById("manage_username").focus();
                </script>
            </div>
        </fieldset>
    </div>
</form>
{{template "manage_end.gohtml" .}}