{{$ := index . 0}}
{{$categories := index . 1}}
{{$rootOnly := index . 2}}
{{$haveCategories := true}}
{{if $rootOnly}}
    {{$haveCategories = false}}
    {{range $category := $categories}}
        {{if eq $category.Parent nil}}
            {{$haveCategories = true}}
            {{break}}
        {{end}}
    {{end}}
{{end}}
{{if $haveCategories}}
    <ul>
    {{range $category := $categories}}
        {{if and $rootOnly (ne $category.Parent nil)}}
            {{continue}}
        {{end}}
        <li>
            <b>{{if ne .Name ""}}{{.Name}}{{else}}Category #{{.ID}}{{end}}</b>
            {{if ne .Description ""}}({{.Description}}){{end}}
            {{if May "category.update" $.Account $.Opt.Access}}
                [<a href="/sriracha/category/down/{{$category.ID}}">Move Down</a>]
                [<a href="/sriracha/category/up/{{$category.ID}}">Move Up</a>]
                [<a href="/sriracha/category/board/{{$category.ID}}">{{T "Add Board"}}</a>]
                [<a href="/sriracha/category/{{$category.ID}}">{{T "Update Category"}}</a>]
            {{end}}
            {{if May "category.delete" $.Account $.Opt.Access}}
                [<a href="/sriracha/category/delete/{{$category.ID}}" onclick="javascript:return confirm('Delete category?');">{{T "Delete Category"}}</a>]
            {{end}}<br>
            {{if and (eq (len .Categories) 0) (eq (len .Boards) 0)}}
                <ul><li>No boards or subcategories.</li></ul>
            {{else}}
                {{template "manage_category_item.gohtml" (Slice $ $category.Categories false)}}
                {{if gt (len $category.Boards) 0}}
                    <ul>
                    {{range $board := $category.Boards}}
                        <li>
                            {{$board.Path}} {{$board.Name}}
                            [<a href="/sriracha/category/board/down/{{$category.ID}}/{{$board.ID}}">Move Down</a>]
                            [<a href="/sriracha/category/board/up/{{$category.ID}}/{{$board.ID}}">Move Up</a>]
                            [<a href="/sriracha/category/board/delete/{{$category.ID}}/{{$board.ID}}">Remove Board</a>]
                        </li>
                    {{end}}
                    </ul>
                {{end}}
            {{end}}
        </li>
    {{end}}
    </ul>
{{end}}
