{{template "manage_begin.gohtml" .}}
<h2 class="managetitle">{{T "Bans"}}{{Help "banning-ip-addresses"}}</h2>
{{if ne (len .Manage.Bans) 0}}
    {{$mayUpdate := or (May "ban.shorten" $.Account $.Opt.Access) (May "ban.lengthen" $.Account $.Opt.Access)}}
    {{$mayDelete := May "ban.lift" $.Account $.Opt.Access}}
    <table class="managetable">
        <tr>
            <th>{{T "ID"}}</th>
            <th>{{T "Type"}}</th>
            <th>{{T "Expires"}}</th>
            <th>{{T "Reason"}}</th>
            {{if or $mayUpdate $mayDelete}}
                <th>{{T "Action"}}</th>
            {{end}}
        </tr>
        {{range $i, $ban := .Manage.Bans}}
            <tr>
                <td>{{$ban.ID}}</td>
                <td>{{$ban.TypeLabel}}</td>
                <td>{{$ban.ExpireDate}}</td>
                <td>{{if eq $ban.Reason ""}}{{T "No reason provided."}}{{else}}{{$ban.Reason}}{{end}}</td>
                {{if or $mayUpdate $mayDelete}}
                    <td>
                        {{if $mayUpdate}}
                            <form method="get" action="/sriracha/ban/{{$ban.ID}}"><input type="submit" value="{{T "Update"}}"></form>
                        {{end}}
                        {{if $mayDelete}}
                            <form method="post" action="/sriracha/ban/lift/{{$ban.ID}}" onsubmit="javascript:return liftBan('{{$ban.ID}}')">
                                <input type="hidden" name="reason" id="reason{{$ban.ID}}">
                                <input type="submit" value="{{T "Lift"}}">
                            </form>
                        {{end}}
                    </td>
                {{end}}
            </tr>
        {{end}}
    </table><br>
    {{if gt .Pages 1}}
        <table class="navtable">
            <tbody>
                <tr>
                    <td>
                        {{if gt .Page 0}}
                            <form method="get" action="/sriracha/ban/{{if gt .Page 1}}p{{.Page | MinusOne}}{{end}}">
                                <input type="submit" value="{{T "Previous"}}">
                            </form>
                        {{else}}
                            {{T "Previous"}}
                        {{end}}
                    </td>
                    <td>
                        {{range $i := Iterate (.Pages | MinusOne)}}
                            [{{if eq $i $.Page}}{{$i}}{{else}}<a href="/sriracha/ban/{{if gt $i 0}}p{{$i}}{{end}}">{{$i}}</a>{{end}}]
                        {{end}}
                    </td>
                    <td>
                        {{if lt .Page (.Pages | MinusOne)}}
                            <form method="get" action="/sriracha/ban/p{{.Page | PlusOne}}">
                                <input type="submit" value="{{T "Next"}}">
                            </form>
                        {{else}}
                            {{T "Next"}}
                        {{end}}
                    </td>
                </tr>
            </tbody>
        </table><br><br>
    {{end}}
{{end}}
{{if ne .Manage.Ban nil}}
    [<a href="/sriracha/ban/">{{T "Return"}}</a>]<br>
{{end}}
{{template "manage_ban_form.gohtml" .}}
{{if gt (len .Manage.LiftedBans) 0}}
    {{TN "%d previous ban" "%d previous bans" (len .Manage.LiftedBans)}}
    {{range $i, $ban := .Manage.LiftedBans}}
        {{$ban}}
    {{end}}
{{end}}
{{template "manage_end.gohtml" .}}
