{{template "imgboard_begin.gohtml" .}}
<hr style="width: 90%;">
<br>
<div style="text-align: center;">
    <form method="get" action="/sriracha/search">
        <input type="text" name="q" value="{{.Extra3}}" size="50" placeholder="{{T "Query"}}"> <input type="submit" value="{{T "Search"}}">
    </form>
</div><br>
<hr>
{{.Message}}
{{if ne .Extra3 ""}}
	<table class="navtable">
		<tbody>
			<tr>
                <td>{{if gt .Page 0}}<form method="get" action="/sriracha/search"><input type="hidden" name="q" value="{{.Extra3}}">{{if gt .Page 1}}<input type="hidden" name="p" value="{{.Page | MinusOne}}">{{end}}<input type="submit" value="{{T "Previous"}}"></form>{{else}}{{T "Previous"}}{{end}}</td>
                <td>
                    {{range $i := Iterate (.Pages | MinusOne)}}
                        [{{if eq $i $.Page}}{{$i}}{{else}}<a href="/sriracha/search?q={{$.Extra3}}{{if gt $i 0}}&p={{$i}}{{end}}">{{$i}}</a>{{end}}]
                    {{end}}
                </td>
                <td>{{if lt .Page (.Pages | MinusOne)}}<form method="get" action="/sriracha/search"><input type="hidden" name="q" value="{{.Extra3}}"><input type="hidden" name="p" value="{{.Page | PlusOne}}"><input type="submit" value="{{T "Next"}}"></form>{{else}}{{T "Next"}}{{end}}</td>
		</tbody>
    </table>
{{end}}
{{template "imgboard_end.gohtml" .}}
