{{template "imgboard_begin.gohtml" .}}
{{if ne .Info ""}}<div class="manageinfo">{{.Info}}</div>{{end}}
<br>
<div style="  width:100%;  display: flex;  justify-content: center;">
    <form method="post">
        <fieldset>
            {{if eq .Extra ""}}
                <legend align="center">{{if ne .Post nil}}{{T "Subscribe to %s" (print "No." .Post.ID)}}{{else}}{{T "Subscribe to %s" .Board.Path}}{{end}}</legend>
                <table class="manageform">
                    {{if ne .Post nil}}
                        <tr>
                            <td class="postblock"><label>{{T "Notify"}}</label></td>
                            <td>{{if eq .Post.Parent 0}}{{T "When %s receives new replies." .Post.RefLink | HTML}}{{else}}{{T "When %s is mentioned." .Post.RefLink | HTML}}{{end}}</td>
                        </tr>
                    {{else}}
                        <tr>
                            <td class="postblock"><label for="notify">{{T "Notify"}}</label></td>
                            <td><select name="notify" style="width: 100%;">
                                <option value="-1">{{T "New threads only"}}</option>
                                <option value="0">{{T "All new posts"}}</option>
                            </select></td>
                        </tr>
                    {{end}}
                    <tr>
                        <td class="postblock">{{T "Email"}}</td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td align="right"><input type="submit" value="{{T "Subscribe"}}" class="managebutton" style="width: auto;min-width: 50%;"></td>
                    </tr>
                </table>
            {{else}}
                <input type="hidden" name="key" value="{{.Extra2}}">
                <legend align="center">{{T "Manage Subscriptions"}}</legend>
                <table class="manageform">
                    <tr>
                        <td colspan="2" align="center">{{.Extra}}</td>
                    </tr>
                    {{if eq (len .Subscriptions) 0}}
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">{{T "No active subscriptions."}}</td>
                        </tr>
                    {{else}}
                        {{range $i, $sub := .Subscriptions}}
                            <tr>
                                {{if ne $sub.Board 0}}
                                    {{$board := GetBoard $sub.Board $.Boards}}
                                    {{if eq $board nil}}{{continue}}{{end}}
                                    <td class="postblock"><a href="{{$board.Path}}">{{$board.Path}}</a></td>
                                    <td>
                                        <select name="sub{{$sub.ID}}">
                                            <option value="1">{{T "Unsubscribe"}}</option>
                                            <option value="-1"{{if eq $sub.Target -1}} selected{{end}}>{{T "New threads only"}}</option>
                                            <option value="0"{{if eq $sub.Target 0}} selected{{end}}>{{T "All new posts"}}</option>
                                        </select>
                                    </td>
                                {{else}}
                                    <td class="postblock"><a href="/sriracha/post/{{$sub.Target}}">&gt;&gt;{{$sub.Target}}</a></td>
                                    <td>
                                        <select name="sub{{$sub.ID}}">
                                            <option value="1">{{T "Unsubscribe"}}</option>
                                            <option value="0" selected>{{T "Subscribe"}}</option>
                                        </select>
                                    </td>
                                {{end}}
                            </tr>
                        {{end}}
                        <tr>
                            <td style="vertical-align: middle">[<a href="#" onclick="return unsubscribeAll();">{{T "All"}}</a>]</td>
                            <td align="right"><input type="submit" value="{{T "Submit"}}" class="managebutton" style="width: auto;min-width: 50%;"></td>
                        </tr>
                    {{end}}
                </table>
            {{end}}
        </fieldset>
    </form>
</div><br>
{{if eq .Extra ""}}
    <div style="text-align: center;">- <a href="javascript:history.go(-1)">{{T "Click here to go back"}}</a> -</div><br>
{{end}}
<hr>
{{template "imgboard_end.gohtml" .}}
